* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

#page {
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
}

.header {
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 3%;

    & a {
        text-decoration: none;
        color: aliceblue;
        display: block;
        font-size: 1.2em;
  
    }

    & nav {
        width: 200px;
    }


    & .menu-nav {
        display: flex;
        justify-content: space-between;

        & .menu-item {
            list-style: none;
        }
    }
}

.sidebar {
    grid-area: sidebar;
    background-color: blue;
    width: 100%;
}

.main-content {
    grid-area: main;
    background-color: brown;

}
